@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61d2f50e3e57e77a32dcec6c.61d2f51167f131a3ddd9fa39.7tm1Wx3.hcp.png");

.main {
	align-items: center;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 20px;
	width: 100%;
}

.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}

* {
	box-sizing: border-box;
}

.main .nav {
	background-color: var(--white);
	box-shadow: 0px 4px 4px #00000040;
	height: 83px;
	left: 0;
	position: fixed;
	top: 0;
	display: flex;
	padding: 0 20px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 7;
}

.main .shoes-1 {
	display: block;
	height: 46px;
	opacity: 0;
	transform: translate(0, 25px);
	width: 86px;
	z-index: 8;
}

.main .shoes-1.animate-enter19 {
	animation: animate-enter19-frames 0.9s ease-in-out 0s 1 normal forwards;
	display: block;
	opacity: 0;
	transform: translate(0, 25px);
}

@keyframes animate-enter19-frames {
	from {
		opacity: 0;
		transform: translate(0, 25px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.main .button {
	background-color: var(--royal-blue);
	border-radius: 4px;
	height: 34px;
	opacity: 0;
	transform: translate(0, 25px);
	width: 124px;
	z-index: 9;
}

.main .button.animate-enter20 {
	animation: animate-enter20-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(0, 25px);
}

@keyframes animate-enter20-frames {
	from {
		opacity: 0;
		transform: translate(0, 25px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.main .button-1 {
	left: 11px;
	letter-spacing: 0.28px;
	position: absolute;
	top: 6px;
}
