@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61d2f50e3e57e77a32dcec6c.61d2f51167f131a3ddd9fa39.7tm1Wx3.hcp.png");

.main {
	align-items: center;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}

* {
	box-sizing: border-box;
}
