/* screen - home */

.home .chevron-down {
	height: 24px;
	left: 89px;
	position: absolute;
	top: 5px;
	width: 24px;
}

.home .check-your-feet-size {
	color: transparent;
	font-family: var(--font-family-poppins);
	font-size: var(--font-size-xl);
	font-weight: 600;
	letter-spacing: 0;
	line-height: 30px;
	margin-top: 90px;
	min-height: 60px;
	opacity: 0;
	transform: translate(-25px, 0);
	width: 100%;
	z-index: 2;
}

.home .span-1 {
	color: var(--royal-blue);
}

.home .check-your-feet-size.animate-enter11 {
	animation: animate-enter11-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter11-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.home .overlap-group3 {
	margin-top: 11px;
	width: 100%;
	z-index: 6;
}

.home .image {
	display: block;
	height: 298px;
	opacity: 0;
	transform: translate(25px, 0);
	width: 273px;
}

.home .image.animate-enter16 {
	animation: animate-enter16-frames 0.9s ease-in-out 0s 1 normal forwards;
	display: block;
	opacity: 0;
	transform: translate(25px, 0);
}

@keyframes animate-enter16-frames {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.home .check-your-size-by-u {
	color: var(--mountain-mist-2);
	font-family: var(--font-family-poppins);
	font-size: var(--font-size-m);
	font-weight: 400;
	letter-spacing: 0.28px;
	opacity: 0;
	transform: translate(-25px, 0);
	width: 100%;
}

.home .check-your-size-by-u.animate-enter17 {
	animation: animate-enter17-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter17-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.home .how-it-works {
	align-self: flex-start;
	color: var(--log-cabin);
	font-family: var(--font-family-poppins);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.36px;
	line-height: 27px;
	margin-left: 19px;
	min-height: 27px;
	opacity: 0;
	transform: scale(0.9);
	white-space: nowrap;
	z-index: 3;
}

.home .how-it-works.animate-enter12 {
	animation: animate-enter12-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: scale(0.9);
}

@keyframes animate-enter12-frames {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.home .frame-26 {
	height: 315px;
	margin-top: 14px;
	transform: translate(-25px, 0);
	width: 100%;
	z-index: 4;
}

.home .frame-26.animate-enter13 {
	animation: animate-enter13-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter13-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.home .feature {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 99px;
}

.home .icon {
	align-items: center;
	background-color: var(--royal-blue-2);
	border-radius: 72px;
	display: flex;
	height: 72px;
	margin-top: 3px;
	min-width: 72px;
	padding: 0 20px;
}

.home .camera_enhance {
	height: 32px;
	width: 32px;
}

.home .feature-info {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 99px;
	margin-left: 15px;
}

.home .take-picture-of-your-feet {
	letter-spacing: 0.32px;
	line-height: 36px;
	min-height: 36px;
	white-space: nowrap;
}

.home .feature-info .info {
	letter-spacing: 0.28px;
	min-height: 63px;
}

.home .feature-1 {
	align-items: flex-end;
	display: flex;
	height: 75px;
}

.home .icon-1 {
	align-items: center;
	background-color: var(--royal-blue-2);
	border-radius: 72px;
	display: flex;
	height: 72px;
	min-width: 72px;
	padding: 0 19px;
}

.home .socks {
	height: 34px;
	width: 34px;
}

.home .overlap-group {
	height: 75px;
}

.home .you-can-take-the-pic {
	letter-spacing: 0.28px;
}

.home .with-or-without-socks {
	letter-spacing: 0.32px;
	line-height: 36px;
	white-space: nowrap;
}

.home .frame-23 {
	align-items: center;
	display: flex;
	height: 93px;
	min-width: 100%;
}

.home .icon-2 {
	align-items: center;
	background-color: var(--royal-blue-2);
	border-radius: 72px;
	display: flex;
	height: 72px;
	margin-bottom: 3px;
	min-width: 72px;
	padding: 0 19px;
}

.home .shoe-1 {
	height: 32px;
	width: 34px;
}

.home .shoe-size-container {
	height: 93px;
	margin-left: auto;
}

.home .see-the-shoe-size-in {
	letter-spacing: 0.28px;
}

.home .select-your-shoe-size {
	letter-spacing: 0.32px;
	line-height: 36px;
	white-space: nowrap;
}

.home .button-2 {
	background-color: var(--royal-blue);
	border-radius: 4px;
	height: 34px;
	margin-top: 40px;
	opacity: 0;
	position: relative;
	transform: scale(0.9);
	width: 109px;
	z-index: 1;
}

.home .button-2.animate-enter10 {
	animation: animate-enter10-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: scale(0.9);
}

@keyframes animate-enter10-frames {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.home .button-3 {
	left: 14px;
	letter-spacing: 0.28px;
	position: absolute;
	top: 6px;
}

.home .overlap-group2 {
	height: 371px;
	margin-left: 1px;
	margin-top: 30px;
	position: relative;
	width: 314px;
	z-index: 5;
}

.home .googlecouk {
	left: 0;
	letter-spacing: 0.2px;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: translate(25px, 0);
	width: 314px;
}

.home .googlecouk.animate-enter14 {
	animation: animate-enter14-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(25px, 0);
}

@keyframes animate-enter14-frames {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.home .image-1 {
	height: 345px;
	left: 23px;
	opacity: 0;
	position: absolute;
	top: 26px;
	transform: translate(25px, 0);
	width: 268px;
}

.home .image-1.animate-enter15 {
	animation: animate-enter15-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(25px, 0);
}

@keyframes animate-enter15-frames {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.home .overlap-group1 {
	height: 345px;
	position: relative;
}

.home .ellipse-4 {
	background-color: var(--royal-blue);
	border-radius: 125.75px;
	height: 252px;
	left: 16px;
	position: absolute;
	top: 54px;
	width: 252px;
}

.home .rectangle {
	height: 345px;
	left: 50px;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 184px;
}

.home .ellipse-34 {
	background-color: var(--yellow-orange);
	border-radius: 7.24px;
	height: 14px;
	left: 232px;
	position: absolute;
	top: 60px;
	transform: rotate(105deg);
	width: 14px;
}

.home .ellipse-36 {
	background-color: var(--royal-blue);
	border-radius: 13.17px;
	height: 26px;
	left: 3px;
	position: absolute;
	top: 259px;
	transform: rotate(105deg);
	width: 26px;
}
