/* screen - scan1 */

.scan1 .overlap-group2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 252px;
	width: 100%;
	z-index: 2;
}
.scan1 .first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
}

.scan1 .scan-your-feet {
	left: 20px;
	letter-spacing: 0;
	line-height: 23px;
	opacity: 0;
	position: absolute;
	top: 125px;
	transform: translate(-25px, 0);
	white-space: nowrap;
	width: 188px;
}

.scan1 .scan-your-feet.animate-enter2 {
	animation: animate-enter2-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter2-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan1 .select-your-current-shoe-size-system {
	color: #515151;
	font-family: var(--font-family-poppins);
	font-size: 13px;
	font-weight: 400;
	left: 20px;
	letter-spacing: 0.26px;
	opacity: 0;
	position: absolute;
	top: 163px;
	transform: translate(-25px, 0);
	width: 191px;
}

.scan1 .select-your-current-shoe-size-system.animate-enter3 {
	animation: animate-enter3-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter3-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan1 .second {
	height: 252px;
}

.scan1 .image {
	transform: translate(25px, 0);
}

.scan1 .image.animate-enter4 {
	animation: animate-enter4-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(25px, 0);
}

@keyframes animate-enter4-frames {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan1 .overlap-group {
	height: 155px;
	left: -1px;
	position: relative;
	width: 161px;
}

.scan1 .ellipse-5 {
	background-color: var(--royal-blue);
	border-radius: 77.56px;
	height: 155px;
	left: 6px;
	top: 0;
	width: 155px;
}

.scan1 .vector-1 {
	height: 29px;
	left: 0;
	position: absolute;
	top: 93px;
	width: 29px;
}

.scan1 .ellipse-34 {
	background-color: var(--yellow-orange);
	border-radius: 4.37px;
	height: 9px;
	left: 17px;
	position: absolute;
	top: 15px;
	width: 9px;
}

.scan1 .ellipse-36 {
	background-color: var(--royal-blue);
	border-radius: 7.94px;
	height: 16px;
	left: 143px;
	position: absolute;
	top: 133px;
	width: 16px;
}

.scan1 .shoes-snickers-1 {
	height: 220px;
	opacity: 0;
	transform: translate(25px, 0);
	width: 256px;
}

.scan1 .shoes-snickers-1.animate-enter5 {
	animation: animate-enter5-frames 0.9s ease-in-out 0s 1 normal forwards;
	display: block;
	opacity: 0;
	transform: translate(25px, 0);
}

@keyframes animate-enter5-frames {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan1 .frame-27 {
	height: 62px;
	margin-right: 17px;
	margin-top: 34px;
	opacity: 0;
	position: relative;
	transform: scale(0.9);
	width: 234px;
	z-index: 3;
}

.scan1 .frame-27.animate-enter6 {
	animation: animate-enter6-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: scale(0.9);
}

@keyframes animate-enter6-frames {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.scan1 .group-2 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	left: 0;
	min-height: 23px;
	position: absolute;
	top: 0;
	width: 236px;
}

.scan1 .flex-row {
	align-items: flex-start;
	display: flex;
	margin-left: 1px;
	min-width: 233px;
}

.scan1 .x-size {
	letter-spacing: 0.24px;
	min-height: 18px;
	width: 133px;
}

.scan1 .chevron-down-1 {
	height: 19px;
	margin-left: 81px;
	width: 19px;
}

.scan1 .line-1 {
	height: 1px;
	margin-top: 4px;
	width: 234px;
}

.scan1 .group-3 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	left: 0;
	min-height: 23px;
	position: absolute;
	top: 39px;
	width: 236px;
}

.scan1 .flex-row-1 {
	align-items: flex-end;
	display: flex;
	margin-left: 1px;
	min-width: 233px;
}

.scan1 .line-1-1 {
	height: 1px;
	margin-top: 4px;
	width: 231px;
}

.scan1 .radio-button-container {
	align-items: flex-start;
	display: flex;
	margin-right: 19px;
	margin-top: 19px;
	min-width: 230px;
	z-index: 4;
}

.scan1 .radio-button {
	height: 18px;
	opacity: 0;
	position: relative;
	width: 51px;
}

.scan1 .radio-button.animate-enter8 {
	animation: animate-enter8-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
}

@keyframes animate-enter8-frames {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.scan1 .ellipse-2 {
	border: 1.5px solid var(--mountain-mist);
	border-radius: 6px;
	height: 12px;
	left: 0;
	position: absolute;
	top: 3px;
	width: 12px;
}

.scan1 .child {
	color: var(--log-cabin);
	font-family: var(--font-family-poppins);
	font-size: var(--font-size-s);
	font-weight: 600;
	left: 18px;
	letter-spacing: 0.24px;
	position: absolute;
	top: 3px;
}

.scan1 .radio-button-1 {
	height: 18px;
	margin-left: 121px;
	opacity: 0;
	position: relative;
	width: 58px;
}

.scan1 .radio-button-1.animate-enter7 {
	animation: animate-enter7-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
}

@keyframes animate-enter7-frames {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.scan1 .ellipse-1 {
	background-color: var(--white);
	border: 3px solid var(--royal-blue);
	border-radius: 6px;
	height: 12px;
	left: 0;
	position: absolute;
	top: 3px;
	width: 12px;
}

.scan1 .adult {
	color: var(--log-cabin);
	font-family: var(--font-family-poppins);
	font-size: var(--font-size-s);
	font-weight: 600;
	left: 24px;
	letter-spacing: 0.24px;
	position: absolute;
	top: 3px;
}

.scan1 .button-2 {
	background-color: var(--royal-blue);
	border-radius: 4px;
	height: 34px;
	margin-left: 1px;
	margin-top: 30px;
	opacity: 0;
	position: relative;
	transform: scale(0.9);
	width: 124px;
	z-index: 1;
}

.scan1 .button-2.animate-enter1 {
	animation: animate-enter1-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: scale(0.9);
}

@keyframes animate-enter1-frames {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.scan1 .camera_enhance {
	height: 24px;
	left: 11px;
	position: absolute;
	top: 4px;
	width: 25px;
}

.scan1 .button-scan-now {
	left: 40px;
	letter-spacing: 0.28px;
	position: absolute;
	top: 10px;
}

.scan1 .googlecouk {
	color: var(--mountain-mist);
	font-family: var(--font-family-poppins);
	font-size: var(--font-size-s);
	font-weight: 600;
	letter-spacing: 0.2px;
	margin-left: 41px;
	margin-top: 19px;
	min-height: 36px;
	opacity: 0;
	transform: translate(0, 25px);
	width: 238px;
	z-index: 5;
}

.scan1 .span0 {
	font-weight: 600;
	letter-spacing: 0.02px;
}

.scan1 .span1 {
	letter-spacing: 0.02px;
}

.scan1 .googlecouk.animate-enter9 {
	animation: animate-enter9-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(0, 25px);
}

@keyframes animate-enter9-frames {
	from {
		opacity: 0;
		transform: translate(0, 25px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
