/* screen - scan-complete-v2 */

.scan-complete-v2 .rectangle-4 {
	background-color: var(--white);
	box-shadow: 0px 4px 4px #00000040;
	height: 83px;
	width: 375px;
	z-index: 6;
}

.scan-complete-v2 .shoes-1 {
	height: 46px;
	left: 20px;
	position: fixed;
	top: 20px;
	width: 86px;
	z-index: 8;
}

.scan-complete-v2 .button {
	align-items: center;
	background-color: var(--royal-blue);
	border-radius: 4px;
	display: flex;
	height: 34px;
	left: 231px;
	min-width: 124px;
	padding: 0 11px;
	position: fixed;
	top: 26px;
	z-index: 7;
}

.scan-complete-v2 .button-1 {
	letter-spacing: 0.28px;
	min-height: 21px;
	min-width: 74px;
}

.scan-complete-v2 .chevron-down {
	height: 24px;
	margin-left: 4px;
	width: 24px;
}

.scan-complete-v2 .frame-31 {
	height: 15px;
	margin-left: 18px;
	margin-top: 2px;
	opacity: 0;
	position: relative;
	transform: translate(-25px, 0);
	width: 106px;
	z-index: 5;
}

.scan-complete-v2 .frame-31.animate-enter26 {
	animation: animate-enter26-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter26-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan-complete-v2 .chevron-left {
	height: 15px;
	left: 0;
	position: absolute;
	top: 0;
	width: 14px;
}

.scan-complete-v2 .back-to-webshop {
	left: 16px;
	letter-spacing: 0.2px;
	position: absolute;
	top: 0;
}

.scan-complete-v2 .scan-complete {
	letter-spacing: 0;
	line-height: 23px;
	margin-left: 20px;
	margin-top: 9px;
	min-height: 23px;
	opacity: 0;
	transform: translate(-25px, 0);
	white-space: nowrap;
	z-index: 2;
}

.scan-complete-v2 .scan-complete.animate-enter22 {
	animation: animate-enter22-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter22-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan-complete-v2 .group-7 {
	align-self: center;
	height: 326px;
	margin-top: 16px;
	opacity: 0;
	transform: translate(25px, 0);
	width: 291px;
	z-index: 3;
}

.scan-complete-v2 .group-7.animate-enter23 {
	animation: animate-enter23-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(25px, 0);
}

@keyframes animate-enter23-frames {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan-complete-v2 .group-container {
	height: 326px;
	position: relative;
}

.scan-complete-v2 .group-5 {
	align-items: center;
	background-image: url(../img/image-2@2x.png);
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	height: 326px;
	left: 0;
	min-width: 291px;
	padding: 0 2px;
	position: absolute;
	top: 0;
}

.scan-complete-v2 .image-1 {
	height: 320px;
	object-fit: cover;
	width: 287px;
}

.scan-complete-v2 .group-6 {
	align-items: flex-end;
	background-color: var(--royal-blue);
	border-radius: 30.5px;
	display: flex;
	height: 61px;
	justify-content: flex-end;
	left: 115px;
	min-width: 61px;
	padding: 11px;
	position: absolute;
	top: 133px;
}

.scan-complete-v2 .checkmark {
	height: 37px;
	width: 37px;
}

.scan-complete-v2 .referrer {
	align-self: flex-end;
	height: 206px;
	margin-right: -53px;
	opacity: 0;
	overflow: hidden;
	transform: translate(-25px, 0);
	width: 420px;
	z-index: 4;
}

.scan-complete-v2 .referrer.animate-enter24 {
	animation: animate-enter24-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: translate(-25px, 0);
}

@keyframes animate-enter24-frames {
	from {
		opacity: 0;
		transform: translate(-25px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.scan-complete-v2 .overlap-group1 {
	align-items: flex-start;
	background-color: var(--white);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	left: -1px;
	min-height: 326px;
	padding: 26px 12px;
	position: relative;
	top: -1px;
	width: 859px;
}

.scan-complete-v2 .referrer-1 {
	letter-spacing: 0.1px;
	min-height: 24px;
}

.scan-complete-v2 .group-8 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-left: 1px;
	margin-top: 13px;
	min-height: 130px;
	width: 310px;
}

.scan-complete-v2 .referrer-2 {
	letter-spacing: 0.1px;
	margin-left: 1px;
	min-height: 24px;
}

.scan-complete-v2 .googlecouk {
	letter-spacing: 0.2px;
	margin-left: 1px;
	margin-top: 4px;
	min-height: 21px;
}

.scan-complete-v2 .flex-row {
	align-items: flex-end;
	display: flex;
	height: 61px;
	margin-top: 20px;
	min-width: 298px;
}

.scan-complete-v2 .googlecouk-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 57px;
	width: 102px;
}

.scan-complete-v2 .googlecouk-1 {
	letter-spacing: 0.2px;
	min-height: 21px;
}

.scan-complete-v2 .googlecouk-2 {
	letter-spacing: 0.2px;
	margin-left: 1px;
	margin-top: 15px;
	min-height: 21px;
}

.scan-complete-v2 .googlecouk-container-1 {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin-left: 137px;
	min-height: 61px;
	width: 59px;
}

.scan-complete-v2 .googlecouk-3 {
	letter-spacing: 0.2px;
	margin-right: 2px;
	min-height: 21px;
	min-width: 18px;
}

.scan-complete-v2 .googlecouk-4 {
	letter-spacing: 0.2px;
	margin-top: 19px;
	min-height: 21px;
	min-width: 59px;
}

.scan-complete-v2 .flex-row-1 {
	align-items: center;
	align-self: center;
	display: flex;
	margin-right: 12px;
	margin-top: 12px;
	min-width: 321px;
	z-index: 1;
}

.scan-complete-v2 .frame-30 {
	background-color: var(--royal-blue);
	border-radius: 4px;
	height: 41px;
	opacity: 0;
	position: relative;
	transform: scale(0.9);
	width: 184px;
}

.scan-complete-v2 .frame-30.animate-enter21 {
	animation: animate-enter21-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: scale(0.9);
}

@keyframes animate-enter21-frames {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.scan-complete-v2 .not-good-scan-again {
	left: 10px;
	letter-spacing: 0.28px;
	position: absolute;
	top: 10px;
}

.scan-complete-v2 .googlecouk-5 {
	letter-spacing: 0.2px;
	margin-left: 23px;
	min-height: 21px;
	min-width: 114px;
	opacity: 0;
	text-decoration: underline;
	transform: scale(0.9);
}

.scan-complete-v2 .googlecouk-5.animate-enter25 {
	animation: animate-enter25-frames 0.9s ease-in-out 0s 1 normal forwards;
	opacity: 0;
	transform: scale(0.9);
}

@keyframes animate-enter25-frames {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
